
<table id="table" data-source="<%= operations_url(format: "json")%>">
  <thead>
    <th>Certifier Name</th>
    <th>Operation Name</th>
    <th>Certification Status</th>
    <th>City</th>
    <th>State/Providence</th>
    <th>Country</th>
    <th>Certified Products</th>
  </thead>
  <tbody>
  
  </tbody>
</table>
